@charset "UTF-8";
/* @ charset caso haja problemas com acentuação */

body {
    background-color: lightskyblue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.5em;
    color: blue;
    background-color: dodgerblue;
}

h2 {
    font-size: 1.2em;
    color: brown;
}

p {
    text-align: justify;
}